
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
  }
  

  .chat-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .chat-layout {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .online-users,
  .chat-section {
    flex: 1 1 100%; 
    max-width: 100%; 
  }
  
  .messages-container {
    height: 300px;
    overflow-y: auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
  }
  
  .input-container {
    display: flex;
    gap: 10px;
  }
  

  @media (min-width: 768px) {
 
    .chat-layout {
      flex-wrap: nowrap;
    }
    .app{
        padding: 20px;
    }
    .online-users {
      flex: 1 1 30%; 
    }
  
    .chat-section {
      flex: 1 1 70%;
    }
  }
  
  @media (max-width: 767px) {
    
    .messages-container {
      height: 200px; 
    }
    .app{
        padding: 0rem;
        margin: 0;
    }
    .chat-container{
        margin: 0rem;
        padding: 0rem;
        position: absolute;
        left: 0;
    }
    .button {
      font-size: 14px;
    }
    .online-users{
        position: relative;
        top:0;
        width: 100%;
    }
    .input-container {
      flex-direction: column;
      gap: 5px;
    }
  
    .input-container input,
    .input-container button {
      width: 100%; 
    }
  }
  
